@import './color';
@import './fonts';

.banner
{
  height: 50px;
  position: relative;
  z-index: 100;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  .logo
  {
    width: 10%;
    position: absolute;
   
  }
  .site-branding
  {
    img
    {
      background-position: 0 0;
      background-repeat: no-repeat;
      background-color: $white;
      background-size: 100%;
      border: 3px solid $white;
      margin-left: 8px;
      margin-top: 7px;
      height: 96px;
      border-width: 3px;
    }
  } 
  // Navigation Menus
  .menuregion
  {
    width: 100%;
    border-top: 4px solid #c20017;
    background-color: $headerbg;
    display: flex;
    padding-left: 94px;
    .navigation_menu
    {
      ul
      {
        list-style-type: none;
        display: flex;
        
        li
        {
          a
          {
            padding: 6px 5px;
            color: $white;
            transition: background .2s linear;
            font-size: $navmenu;
            font-weight: 600;
            text-decoration: none;
          }
        }
      }
    }
    .useraccountmenu
    {
      position: absolute;
      right: 0;
      margin-right: 20px;
      .searchicon
      {
        margin: 2px;
        color: $whitetext
      }
    }
    .hamburger
    {
      display: none;
    }
  }
}
.bottomregion
{
  ul
  {
    list-style-type: none;
    margin-left: 95px;
    font-weight: 600;
    li
    {
      float: left;
      span
      {
        color: $darkred;
      }
      a
      {
        padding: 6px 5px;
        color:$black;
        font-size: $navmenu;
        text-decoration: none;
      }
    }
  }
}

// Tab
@media(max-width: 1024px) 
{

  .navigation_menu
  {
      
    ul
    {
      .Sports, .Lifestyle, .Weather, .TV, .Fox, .Listen
      {
        display: none;
      }        
    }
  }
}
@media(max-width: 690px) 
{

  .navigation_menu
  {
      
    ul
    {
      .Business
      {
        display: none;
      }        
    }
  }
}

// .hamburgernavbar
// {
//   // width:100%;
//   // border: 5px solid yellow;
// } 


// Mobile.
@media(max-width: 480px)
{
    .banner
    {
      .site-branding
      {
        img
        {
          margin-left: 8px;
          margin-top: 20px;
          height: 25px;
          width: auto;
          background-color: inherit;
        }
      }
    }
    header
    {
      .menuregion
      {
        padding-left: 0 !important;
        .search-block-form
        {
          margin-top: 0% !important;
          display: none !important;
          form
          {
            display: block !important;
            .search
            {
              margin-left: 20px !important;
            }
          }
        }
      }
      .navigation_menu
      {
        ul
        {
          display: none !important;
        }
      }
    }
  .hamburger
  {
    padding: 20px;
    display: block !important;
    margin-left: auto;
    .svg-inline--fa
    {
      color: $white;
      height: 20px;
      width: auto;
    }
  }
  .hamburgertogglemenu
  {
    height: 300px;
  }
}