/web/sites/default/settings.local.php
/web/themes/custom/foxnews/assets/node_modules
/web/themes/custom/assets/css/*
/drush/contrib/
/vendor/
/web/core/
/web/modules/contrib/
/web/themes/contrib/
/web/profiles/contrib/
/web/libraries/
.vscode
*.sql