/node_modules
/web/sites/default/files
/web/sites/default/settings.local.php
/web/themes/custom/foxnews/assets/node_modules
/web/themes/custom/asstes/css/*
/drush/contrib/
/vendor/
/web/core/
/web/modules/contrib/
/web/modules/ndp/
/web/themes/contrib/
/web/profiles/contrib/
/web/libraries/
