$aliceblue: #f6f8fa;
$black: black;
$white: white;
$headerbg: #036;
$darkred: #c20017;
$whitetext: #edf6ff;
$footerborderblue: #174676;
$footerhover: #a7c6e5;
$footerhoverborderbottom: #1b4e81;
$footerblueline: #5787b8;
$socialiconbg: #001d3a;
$lightgreybannerbg: #efefef;
$lightblueborder: #cedfef;
$relatabletext: #4B78A7;


















