.home-content .home-page-top-news .views-field-field-top-news-image img {
  width: 100%;
  height: auto;
}
.home-content .home-page-top-news .views-field-field-top-news-short-title {
  margin-top: -37px;
}
.home-content .home-page-top-news .views-field-field-top-news-short-title a {
  background: #036;
  opacity: 0.8;
  text-decoration: none;
  color: white;
  font-weight: 700;
  letter-spacing: 0.5px;
  font-size: 24px;
  padding: 5px 20px 5px 20px;
}
.home-content .home-page-top-news .views-field-field-top-news-link-1 {
  padding: 15px 12px 16px;
}
.home-content .home-page-top-news .views-field-field-top-news-link-1 a {
  text-decoration: none;
  color: #c20017;
  font-size: 24px;
  font-weight: 700;
  line-height: 28px;
}
.home-content .home-4-news .views-row .views-field-field-image-with-li img {
  width: 100%;
  height: auto;
}
.home-content .home-4-news .views-row .related-title {
  background: #036;
  opacity: 0.8;
  font-weight: 700;
  color: white;
  padding: 5px 0 5px 8px;
  margin-top: -57px;
}
.home-content .home-4-news .views-row .related-title p {
  margin: 0;
}
.home-content .home-4-news .views-row .views-field-title {
  padding: 10px 10px 0 10px;
}
.home-content .home-4-news .views-row .views-field-title a {
  text-decoration: none;
  color: #036;
  font-size: 24px;
  font-weight: 700;
}
.home-content .home-other-news .other-news-fields {
  padding-bottom: 6px;
  border-bottom: 1px solid #cedfef;
  padding-top: 12px;
}
.home-content .home-other-news .other-news-fields p {
  margin: 0;
  text-decoration: none;
}
.home-content .home-other-news .other-news-fields .views-field-field-other-news-image-with-link img {
  width: 100%;
  height: auto;
}
.home-content .home-other-news .other-news-fields .views-field-field-other-news-type {
  padding: 8px 0 0 16px;
}
.home-content .home-other-news .other-news-fields .views-field-field-other-news-type a {
  color: #4B78A7;
  font-size: 11px;
  line-height: 14px;
  font-weight: 700;
  text-decoration: none;
}
.home-content .home-other-news .other-news-fields .views-field-title {
  padding: 8px 16px 20px 16px;
}
.home-content .home-other-news .other-news-fields .views-field-title a {
  color: #036;
  font-size: 24px;
  line-height: 24px;
  text-decoration: none;
  font-weight: 700;
}
.home-content .home-other-news .other-news-fields:first {
  padding-top: 0;
}
.home-content .home-other-news .other-news-fields:last-child {
  border-bottom: 1px solid #cedfef;
}

@media (min-width: 768px) {
  .home-content .home-page-top-news .views-field-field-top-news-short-title a {
    top: -37px;
  }
  .home-content .home-page-top-news .views-field-field-top-news-link-1 {
    padding: 8px 12px 16px;
  }
  .home-content .home-page-top-news .views-field-field-top-news-link-1 a {
    text-decoration: none;
    color: #c20017;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
  }
  .home-content .home-4-news {
    display: grid;
    grid-template-columns: 50% 50%;
    margin: 0 0 12px 12px;
  }
  .home-content .home-4-news .views-row {
    padding-right: 12px;
  }
  .home-content .home-4-news .views-row .views-field-title {
    padding: 10px 10px 20px 10px;
  }
  .home-content .home-4-news .views-row .views-field-title a {
    font-size: 16px;
  }
  .home-content .home-other-news {
    padding: 0 14px 14px 14px;
  }
  .home-content .home-other-news .other-news-fields {
    display: grid;
    grid-template-columns: 168px calc(100% - 168px);
  }
  .home-content .home-other-news .other-news-fields .views-field-field-other-news-image-with-link {
    grid-row: 1/span 2;
  }
  .home-content .home-other-news .other-news-fields .views-field-field-other-news-image-with-link img {
    width: 156px;
    height: 87.75px;
  }
  .home-content .home-other-news .other-news-fields .views-field-title a {
    font-size: 18px;
    text-decoration: none;
  }
  .home-content .home-other-news .other-news-fields:first {
    padding-top: 0;
  }
  .home-content .home-other-news .other-news-fields:last-child {
    border-bottom: 0;
  }
}
.home-page {
  display: flex;
}
.home-page .sidebar-left {
  width: 22%;
  margin-left: 16px;
  margin-right: 12px;
}
.home-page .home-content {
  width: 100%;
}
.home-page .sidebar-right {
  width: 22%;
  margin-top: 12em;
  margin-left: 12px;
  margin-right: 16px;
  justify-content: right;
}

@media (min-width: 1280px) {
  .home-page {
    padding-top: 12px;
  }
  .home-page .home-content {
    width: 56%;
    border: 1px solid #cedfef;
  }
}
.top-banner {
  margin-top: 1.33rem;
  background-color: #efefef;
  padding: 16px 0 16px 0;
  text-align: center;
}

@media (min-width: 1024px) {
  .top-banner {
    display: block;
  }
}
@media (max-width: 768px) {
  .top-banner {
    display: none;
  }
}
aside {
  display: none;
}

.left-video-wrapper {
  display: none;
}
.left-video-wrapper .live-video .news_video_left video {
  display: none;
}
.left-video-wrapper .sidebar-first {
  display: none;
}

@media screen and (min-width: 1024px) {
  aside {
    display: block;
  }

  .left-video-wrapper {
    display: block;
    border: 1px solid #cedfef;
    background-color: white;
    padding: 16px;
    margin-bottom: 20px;
  }
  .left-video-wrapper .live-video .news_video_left video {
    display: block;
    width: 100%;
    height: auto;
    margin-bottom: 12px;
  }
  .left-video-wrapper .sidebar-first {
    display: flex;
  }
  .left-video-wrapper .sidebar-first .fox_and_friends p {
    font-size: 16px;
  }
  .left-video-wrapper .sidebar-first .fox_and_friends p a {
    color: #036;
    text-decoration: none;
    font-weight: 700;
  }
  .left-video-wrapper .sidebar-first .fox_and_friends p a img {
    width: 40px;
    margin: 0;
    height: auto;
    margin-right: 8px;
  }
  .left-video-wrapper .sidebar-first .on-now .on-now-label .fox_and_friends .pill {
    background: #c20017;
    width: 30%;
    line-height: 10px;
    font-size: 9px;
    padding: 4px 6px 4px 6px;
    font-weight: bold;
    margin-bottom: 2px;
  }
  .left-video-wrapper .sidebar-first .on-now .on-now-label .fox_and_friends .pill a {
    color: white;
    border: 1px solid #c20017;
    margin-bottom: 6px;
    text-decoration: none;
  }
  .left-video-wrapper .sidebar-first .on-now .on-now-label .fox_and_friends .pill {
    background: #c20017;
    width: 30%;
    line-height: 10px;
    font-size: 9px;
    padding: 4px 6px 4px 6px;
    font-weight: bold;
    margin-bottom: 2px;
  }
  .left-video-wrapper .sidebar-first .on-now .on-now-label .fox_and_friends .pill a {
    color: white;
    border: 1px solid #c20017;
    margin-bottom: 6px;
    text-decoration: none;
  }
  .left-video-wrapper .fox_and_friends p {
    margin: 0;
  }
  .left-video-wrapper .left-exclusive-clips .views-row {
    padding: 16px 0 0 0;
    grid-template-columns: 150px 110px;
    line-height: 14px;
    font-weight: 700;
  }
  .left-video-wrapper .left-exclusive-clips .views-row .views-field-field-videos {
    margin-right: 12px;
    grid-row: 1/span 2;
  }
  .left-video-wrapper .left-exclusive-clips .views-row .views-field-field-fox-and-friends {
    color: #c20017;
  }
  .left-video-wrapper .left-exclusive-clips .views-row .views-field-field-fox-and-friends p {
    margin: 0;
    font-size: 11px;
  }
  .left-video-wrapper .left-exclusive-clips .views-row .views-field-field-fox-and-friends p:hover {
    text-decoration: underline;
  }
  .left-video-wrapper .left-exclusive-clips .views-row .views-field-title a {
    text-decoration: none;
    color: #036;
    font-size: 13px;
  }
  .left-video-wrapper .left-exclusive-clips .views-row .views-field-title a:hover {
    text-decoration: underline;
  }
}
@media screen and (min-width: 768px) {
  aside {
    display: block;
  }

  .left-video-wrapper .sidebar-first THEME DEBUG .on-now .on-now-label .fox_and_friends .pill {
    width: 40%;
  }
  .left-video-wrapper .sidebar-first THEME DEBUG .on-now .fox_and_friends p {
    font-size: 12px;
  }
  .left-video-wrapper .left-exclusive-clips .views-row {
    padding: 16px 0 16px 0;
    border-bottom: 1px solid #cedfef;
    grid-template-columns: 150px 110px;
    line-height: 14px;
    font-weight: 700;
  }
  .left-video-wrapper .left-exclusive-clips .views-row .views-field-field-videos {
    margin-right: 12px;
  }
}
@media screen and (min-width: 1280px) {
  .left-video-wrapper .left-exclusive-clips .views-row {
    padding: 16px 0 16px 0;
    display: grid;
    grid-template-columns: 150px 110px;
    line-height: 14px;
    font-weight: 700;
  }
  .left-video-wrapper .left-exclusive-clips .views-row:last-child {
    border-bottom: 0;
  }
}
aside {
  display: none;
}

@media screen and (min-width: 768px) {
  aside {
    display: block;
  }

  .right-section-wrapper {
    border: 1px solid #cedfef;
    background-color: white;
    padding: 16px;
    margin-bottom: 20px;
  }
  .right-section-wrapper .foxnation .views-field-field-foxna {
    margin-bottom: 16px;
  }
  .right-section-wrapper .foxnation p {
    margin: 0;
  }
  .right-section-wrapper .foxnation p img {
    width: 100%;
    height: auto;
  }
  .right-section-wrapper .foxnation .views-field-field-watch-now-link a {
    color: #c20017;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 11px;
    text-decoration: none;
  }
  .right-section-wrapper .foxnation .views-field-field-watch-now-link a:hover {
    text-decoration: underline;
  }
  .right-section-wrapper .foxnation .views-field-field-foxnation-news-link a {
    text-decoration: none;
    color: #036;
    font-size: 14px;
    font-weight: 700;
  }
  .right-section-wrapper .foxnation .views-field-field-foxnation-news-link a:hover {
    text-decoration: underline;
  }
}