@import '../color';
@media screen and (min-width: 1280px) {
  .banner {
    background: $white;
    border-bottom: 1px solid $lightblueborder;
    .logo img {
      margin-left: 45px;  
      height: 90px;
      width: 91px;
    }
  }
}
@media screen and (min-width: 1024px) {
    .banner {
      .logo img {
        margin-left: 45px;  
        height: 90px;
        width: 91px;
      }
      .menuregion { 
      height: 50px;
        ul li {
          display: none;
        }
      }
      .bottomregion {
        height: 49px;
        ul li {
        display: none;
      }
      }
    }
  }
  