.login {
  padding-top: 0;
  width: 100%;
  margin: 0 auto 0 auto;  
  .login-content {
    padding: 0;
    margin: 0 16px;
  }
  .login-form {
    margin-top: 24px;
//    margin: 0 auto;
    h2 {
      font-size: 30px;
      text-align: center;
      margin: 0;
      color: $darkgrey;
      font-weight: 700;
    }
    form {
      max-width: 290px;
      margin: 0 auto;
      padding-left: 0;
      text-align: center;
      padding-right: 0;
      height: auto;
      padding-top: 24px;
    .form-item-name, .form-item-pass, .form-actions{
      display: flex;
    }
      label {
        display: none;
      }
      input {
      margin-bottom: 16px;  
      border-radius: 3px;
      border: 1px solid #cedfef;
      color: #000000;
      font-size: 16px;
      padding: 0 14px;
      height: 41px;
      width: 100%;
      }
      .form-actions {
        input {
          width: 100%;  
          background-color: $darkcyanblue;
          color: $white;
          font-size: 14px;
          font-weight: 700;
        }  
      }
    }
    ul {
      display: flex;
      align-items: center;
      flex-direction: column;
      list-style-type: none;
      padding-right: 32px;
      margin: 0 auto;
      li { 
        a {
          text-decoration: none;
        }
      }
      li:first-child {
        margin-bottom: 16px;  
        border-radius: 3px;
        border: 1px solid #cedfef;
        color: #000000;
        font-size: 16px;
        padding: 0 14px;
        background-color: #edf6ff;
        height: 31px;
        width: 100%;
        padding-top: 10px;
        text-align: center;
        a {
          font-weight: 700;
        }
      }
      li:last-child {
        font-size: 12px;
        border-bottom: 2px solid #5787b8;
      }
      li {
        a {
          color: #003366;
        }
      }  
    }  
  }      
}

@media screen and (min-width: 768px) {
  .login {
    .login-content {
      margin: 0 48px;
    }
    .login-form {
      h2 {
        font-size: 36px;
      }
      form {
        text-align: center;
        label {
          display: none;
        }
      }
    }
    ul {
      li:first-child {
        width: 23.5% !important;
        margin-left: -6px;
      }
    }
  }
}

@media screen and (min-width: 1024px) {
  .login {
    padding-top: 0;
    width: 100%;
    margin: 0 auto 0 auto;  
    .login-content {
      padding: 72px 0 0 0;
    }
    .login-form {
      margin-top: 0;
      max-width: 100%;
      h2 {
        font-size: 48px;
        margin: 0 0 12px 0;
      }
    }      
  }  
}

@media screen and (min-width: 1280px) {
  .login {
    width: 1280px;  
    margin: 0 auto;     
  }
  .login-content {
    margin: 0 24px;
    max-width: 1280px;
  }  
}