{# Bottom Navigation Menu List #}

{% if content %}
  <div {{ attributes.addClass('menuregion') }}>
    {{ content }} 
    {# Hamburger Menu. #}
    <div class="hamburger">
      <i class="fa fa-bars"></i>
    </div>
  </div>
{% endif %}
